:root {
  --primary: #0187f6;
  --white: #ffffff;
  --foreground: #000000;
  --background: #f6f6f6;
  --danger: #eb5252;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
}

label {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
}

label + input[type="text"],
label + input[type="tel"],
label + input[type="email"],
label + input[type="password"],
label + select {
  margin-top: 6px;
}

.form-group {
  margin-bottom: 12px;
}

.inputHolder {
  position: relative;
  width: 100%;
}

.inputHolder input {
  width: 100%;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
  border: 1px solid #a6a6a6;
  border-radius: 6px;
  min-height: 35px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 0;
}

input[type="text"].error,
input[type="tel"].error,
input[type="email"].error,
input[type="password"].error,
select.error {
  border-color: var(--danger);
  border-width: 2px;
  padding-right: 25px;
}

.inputHolder + .errorMessage {
  font-size: 10px;
  color: var(--danger);
  margin-top: 2px;
  font-weight: 500;
}

button {
  min-height: 46px;
  border-radius: 23px;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  transform: scale(0.98);
}

.button--outline {
  background-color: transparent;
  color: var(--foreground);
}

.button--destructive {
  background-color: var(--danger);
  border-color: var(--danger);
}

.button--ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--foreground);
}
